/*-------------Header/Menu---------------------*/
.menu {
    
    display: flex;    
    justify-content: center;
    background-color: rgba(224,179,179,1);
    gap: 3rem;
    list-style-type: none;/*enleve les puces(les points degeu par defaut)*/
    height: 3.5rem;
    align-items: center;
    margin-bottom: 0;
}

.lien {

    color:white; 
    text-decoration: none; /*enleve le soulignage degeu de l'hyperlien*/

}

.lien:hover{/*petite transition lorsque la souris passe sur un hyperlien*/

   
    color: rgb(255, 65, 65);
    border-color: rgb(255, 255, 255);

}

/*-----------------body-----------------------*/
.Conteneur{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid; */
    margin: 0 4.5% 0%; 
    background: radial-gradient(circle, rgba(224,179,179,1) 0%, rgba(220,233,148,1) 100%);

}

.Image-Home1{/* proprité de la premiere rangée images (en dessous de la description */
    display: flex;
   
    max-width: 100%;
    height: auto;
    margin-left: 4%; 
    margin-right: 4%;
    order: 3;
}  


.Image-Home2{ /* proprité de la premiere rangée images (en dessous des services */
    display: flex;
    justify-content: middle;
  
    padding-bottom: 4%;
    margin-left: 4%; 
    margin-right: 4%;
    order: 5;

}

.image-home{ /*class commune pour toutes les images */

    
    width:100%;
    margin-left: 4%;
    
} 

.image-gauche{ /* derniere image en partant de la gauche (pour les 2 rangée*/
    margin-left: 0;

}

.image-droite{ /* premiere image en partant de la gauche (pour les 2 rangée*/ 
    margin-right:0;
}

img{/*proprité image*/

    
    padding:1%;
    

}

#TitrePRINCIPAL{
    
    display: flex;
    justify-content: center;  
    align-items: center;
    order:1;
    font-family: 'Fleur De Leah', cursive;
    font-size: 250%;
    margin: 4% 4% 0 ;
    background: linear-gradient(to left,rgb(46, 46, 46) 0%,#727a7a 10%, #ff3c00 65%, #9cd9d6 100%) no-repeat,rgb(0, 0, 0);
    background-size: 0 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: anim-back 5s infinite linear alternate;
}

@keyframes anim-back{ /*animation couleur du titre principal*/
            
    from{
        
        background-size: 100% 100%
        
        }
        
    to{
        
        background-size: 0% 100%
        
        }
    
}


.description{ /*la petite description en-dessous du titre*/
    
    display: flex;
    color: rgb(0, 0, 0);
    order:2;
    border-bottom: 1px solid black ; 
    text-align: center;
    margin:0 4% 4%;
    padding-bottom: 2%;
}



.Services-Home{/*Block Service contenant tous les sous-block services*/
    
    display: flex;
    
    flex:1;
    gap: 4rem;
    border-bottom: 1px solid black ; 
    border-top: 1px solid black;
    margin:4% 4% 4%;
    padding: 2%;
    text-align:left;
    order:4;
}



.Sous-titre-Services{
   
    text-align: center;
    font-size: 95%;

}



.ServicesText1{
    
    padding-left: 3%;
   
}

/* ------------Pied de page------------------ */


footer{

    background-color: rgba(224,179,179,1);
    height: 3.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .menu {
        gap: 2rem;
    }

    .description {
        font-size: 90%;
    }

    .ServicesText1 {
        padding-left: 2%;
    }
.image-home {
    width: 80%; /* Ajustez la largeur des images selon vos préférences */
}

}
